{% block -%}

<div class="row wow fadeIn">

{% macro record_card(img_src, title, deep_link, location) -%}
<div class="col-lg-4 col-md-6 mb-4">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img src="{{img_src}}" class="card-img-top"
          alt="">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Category & Title-->
        <a href="" class="grey-text">
          <h5>{{title}}</h5>
        </a>
        <h5>
          <strong>
            <a href="{{deep_link}}" class="btn btn-primary">자세히 보기</a>
          </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
          <strong>{{location}}</strong>
        </h4>

      </div>
      <!--Card content-->

    </div>
    <!--Card-->

  </div>
  {%- endmacro %}

  </div>

  {%- block %}